/*
 inline-block fixed
 */
#login .loginBg ul, #login .loginBg ul a, .header .headerControl, .number, .tags, .account .accountList li, .popup .buttonBar .okButton, .popup .buttonBar, .deleteButton, .searchBox .searchKeyword #addKeyword, .tagsList li, .tip .count,#login .loginButton {
    zoom: 1;
    display: inline;
}

.tags {
    margin-right: 2px;
}

.checkboxOp input {
    margin-top: 0;
}

.primary .mainContent table td {
    border-bottom: 1px solid #bfbfbf;
    padding-bottom: 0;
}

.primary .mainContent table {
    table-layout: fixed;
}

.primary .mainContent table tr:first-child td {
    border-top: 1px solid #bfbfbf;
}

.commentPanel {
    margin-right: 0;
}

.divideLineSolid, .divideLine {
    height: 2px;
    line-height: 2px;
}

#setting .primary div {
    margin-bottom: 50px;
}

#setting .primary #followSettingForm input {
    position: relative;
    top: -25px;
}

.header .headerControl ul.userBar li a {
    position: relative;
    top: 3px;
}

.tip {
    height: 180px;
}

a {
    blur: expression(this.blur());
}



